// Heart icon

%heart_card
	width: 7% 
	float: right
	margin-top: -20px
	margin-right: -10px

	@include mediaQ(small)
		margin-top: 10px
		margin-right: 10px

%heart_single
  width: 25px 
  margin-top: -2px
  margin-left: 25px


.Heart 
  svg
    @extend %heart_card

.Heart_grey
	fill: $grey
.Heart_red
	fill: $red