.AboutPage 
	display: flex
	flex-direction: row
	justify-content: flex-end
	flex-basis: 36.5%

	@include mediaQ(small)
		flex-basis: 50%
		flex-direction: column

.AboutPage_leftSide 
	flex: 1
	padding-top:  5%
	padding-right:  10%
	padding-bottom:  5%
	padding-left:  12%

	@include mediaQ(small)
		flex: 1
		padding-top:  0
		padding-right:  0
		padding-bottom:  20px
		padding-left:  0

.AboutPage_rightSide
	flex: 1
	height: 460px
	background-size: cover !important
	background-repeat: no-repeat !important
	background-position: 0 0
	
	@include mediaQ(small)
		flex: 1

.AboutPage_headline 
	@extend %h1

.AboutPage_para 
	@extend %para_single
