// ArticleCard element
.ArticleCard
	display: flex
	flex-direction: row
	flex-wrap: wrap
	flex-basis: 90%
	margin-bottom: 40px
	background: $secondaryColor

	&:nth-child(even)
		.ArticleCard_leftSide
			order: 2

	@include mediaQ(small)
		flex-direction: column
		height: 500px

	@include mediaQ(medium)
		flex-basis: 100%
		height: 310px

.ArticleCard_leftSide
	flex: 1.2
	background-size: cover !important
	background-repeat: no-repeat !important
	background-position: 0 0

.ArticleCard_para
	@extend %para
	color: $black

.ArticleCard_link
	@extend %link
	color: $black
	
.ArticleCard_rightSide
	flex: 1
	padding: 40px 36px

	@include mediaQ(small)
		padding: 20px

.ArticleCard_headline
	@extend %h2
